BOT_TOKEN=8370581450:AAEGM5Uc4eB_xqFV9D73ZzcMxjoapJIArcU
ADMIN_ID=445956354
DATABASE_URL=postgresql://neondb_owner:npg_dq36CcDaymVo@ep-holy-lab-alub0siy-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=8080

